html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.imagem{
    width: 25em;
    height: 15em;
    margin-left: 25em;
    margin-top: 13em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
h2{
    margin-left: 28.5em;
    margin-top: -8em;
    font-size: 30px;
}
p{
    margin-left: 51em;
}
footer{
    background-color: rgb(47, 47, 47);
    color: white;
    margin-top: 15em;
    padding-bottom: 6em;

}
.embaixo{
    color: white;
    margin-left: 47em;
    padding-top: 20;
    font-size: 13px;
}