html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h1 {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 20%;
    vertical-align:text-bottom;
    font-size: 30px;
    
}

.orange-quadrado {
    width: 13em;
    height: 29em;
    background-color: rgb(68, 12, 179);
    margin-left: 37em;
    margin-top: 0em;
}

.gray-quadrado {
    width: 27em;
    height: 24em;
    background-color: #F2F2F2;
    margin-left: 50em;
    margin-top: -28em;
}

.gray-quadrado>h2 {
    padding-top: 2em;
    padding-left: 2em;
    font-size: 35px;
}

.gray-quadrado>p {
    margin-top: -0.5em;
    padding-left: 2em;
    padding-right: 1em;
    font-size: 17px;
}

.computador {
    width: 20em;
    height: 16em;
    margin-left: 25em;
    margin-bottom: -20em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn {
    border: solid 1px gray;
    padding: 1em 2em;
    margin-left: 2.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    
}

.logo {
    width: 8%;
    height: 11%;
    margin-right: 10em;
    padding-top: 0.5em
}

.icone {
    font-size: 48px;
    color: rgb(68, 12, 179);
    margin-left: 24em;
    margin-top: 1px;
    
}