html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    background:
    linear-gradient(
      rgba(0,0,0,.5),rgba(0,0,0,.5)
    ),
    url(https://wallpaper.dog/large/20364183.jpg) no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    margin-top: 3em;
    font-size: 60px;
    color: rgb(255, 255, 255);
}
.btn {
    border: solid 1px gray;
    padding: 1em 2em;
    margin-left: 2.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    background-color: rgb(68, 12, 179);
    color: white;
    margin-left: 700px;
    margin-top: 2em;
    box-shadow:  4px 4px 0px rgba(0,0,0,0.24);
    border-radius: 10px;

}
p{
    color: rgb(255, 255, 255);
    margin-left: 26em;
}
